<!-- Side Navbar -->
<nav class="side-navbar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar"><img src="{{ user.image }}" alt="..." class="img-fluid rounded-circle"></div>
    <div class="title">
      <h1 class="h4">{{ user.nombre }} {{ user.apellido }}</h1>
      <p>{{ user.rol }}</p>
    </div>
  </div>
  <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
  <ul class="list-unstyled">
    <li class="active"> <a [routerLink]="['/inicio']" routerLinkActive="active"><i class="icon-home"></i>Home</a></li>
    <li><a href="#dashvariants" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Productos </a>
      <ul id="dashvariants" class="collapse list-unstyled">
        <li><a [routerLink]="['/list-productos']">Listado de Productos</a></li>
      </ul>
    </li>
    <li> <a href="tables.html"> <i class="icon-grid"></i>Tables </a></li>
    <li> <a href="charts.html"> <i class="fa fa-bar-chart"></i>Charts </a></li>
    <li> <a href="forms.html"> <i class="icon-padnote"></i>Forms </a></li>
  </ul><span class="heading">Extras</span>
</nav>
